/**
* base styles and typography
* ---------------
*/
:root {

  --grey-050: #f5f7fa;
  --grey-100: #e4e7eb;
  --grey-200: #cbd2d9;
  --grey-400: #7b8794;
  --grey-500: #616e7c;
  --grey-600: #52606d;
  --grey-700: #3e4c59;
  --grey-800: #323f4b;
  --grey-900: #1f2933;
  --temp: #1a73e8;
  --temp2: #186cdb;
}

/* Base Styles
* html selector ? All elements inside the html? 
*/
html {
  font-size: 150%;
  font-weight: 300;
  font-family: "Muli", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}
body {
  display: flex; /* like block but more flexible. Similar to the flexble option in Java Component. This will also make the calcualtor right in the middle of the page. */
  justify-content: center; /*center or left or right ALL the buttons and displays */
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
  align-items: center; /*not sure of the difference between ``justify-content`` and ``align-items``. */
  height: 100vh; /* vh = viewport. Nice trick?  */
}

/* 
* Calculator
*/
.calculator {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 0.5em;
  overflow: hidden; /* allows the border-radius to be visible. */
  width: 14rem;
  height: 500px;
}

.calculator__display {
  background-color: var(--grey-900);
  color: var(--grey-050);

  padding-top: 0rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: -1rem;
  /*padding: 0.75rem 1rem 0.75 1rem; /* top-right-bottom-left. I also suppose that if the symmetrical values are not sp[ecified then they automatically inherit the other vlaues. */
  text-align: right;
  text-overflow: normal;
  white-space: nowrap;
  font-size: calc(1rem * 1.2 * 1.2); /*  font scale trick ! */
}
.calculator__smallOperatorDisplay {
  position: absolute;
  top: 0rem;
  left: 12.7rem;
  color: rgb(250, 248, 247, 0.7);
}
.calculator__smallDisplay {
  background-color: var(--grey-900);
  color: rgb(250, 248, 247, 0.7);
  text-overflow: normal;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  border-left: 30px solid var(--grey-900);
  border-right: 30px solid var(--grey-900);

  font-size: calc(0.5rem * 1.2 * 1.2);
}

.calculator__smallDisplayText {
  float: right;
  padding-right: 5px;

  transition: transform 250ms;
}

[alt~="right_arrow"],
[alt~="left_arrow"] {
  width: calc(0.29rem * 1.2 * 1.2);
  height: calc(0.45rem * 1.2 * 1.2);
  bottom:39px;
  position: relative;
  z-index: 20;
  visibility: visible;
  opacity: 20%;
}
[alt~="right_arrow"] {
  left: 11px;
  transform: scalex(-1);
}
[alt~="left_arrow"] {
  right: 92%;
}

[alt~="left_arrow"]:hover,
[alt~="right_arrow"]:hover {
  filter: drop-shadow(0px 0px 6px white);
}

.container:not(.calculator__display) {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.calculator__keys {
  font-size: 20px;
  background: var(--grey-200);
  display: grid; /* automatically assuming 1 column by definition */
  grid-gap: 2.25px; /* been looking for this ! */
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    ". . . modulus"
    ". . . divide" /*unnamed areas*/
    ". . . times"
    "seven eight nine minus" /*named areas*/
    "four five six plus"
    "one two three equal"
    "pm zero decimal equal";
  height:430px;
  width: 100%;
  border: none; /* doenst work ? */
}

.calculator__keys > button {
  border: 0;
}
[data-type="clearAll"],
[data-type="clear"],
[data-type="back"] {
  font-size: 15px;
}
[data-type="number"] {
  font-size: 20px;
}
[data-type="operator"],
[data-type="equal"] {
  font-size: 22px;
  font-weight: 200;
}
[data-type="expression"] {
  font-size: 18px;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.zero {
  grid-area: zero;
}
.decimal {
  grid-area: decimal;
}
.minus {
  grid-area: minus;
}
.plus {
  grid-area: plus;
}
.pm {
  grid-area: pm;
}
.times {
  grid-area: times;
}
.divide {
  grid-area: divide;
}
.modulus {
  grid-area: modulus;
}

[data-type="equal"] {
  grid-area: equal;
  background-color: var(--temp);
  color: #eeeeee;
  transition: all linear 100ms;
}
[data-type="equal"]:active {
  background-color: var(--temp2);
  box-shadow: -12px 24px 43px -10px rgba(47, 247, 255, 0.4);
} /* changes color of equal button to darker when mouse hovers the button */

[data-type="operator"],
[data-type="expression"],
[data-type="clear"],
[data-type="clearAll"],
[data-type="back"] {
  background-color: var(--grey-100);
}

[data-type="number"] {
  background-color: var(--grey-050);
  /* font-weight: 600;  sudden jump between 500 and 600. both ways remains constant */
}
[data-type="number"]:hover {
  box-shadow: inset -8px -6px 46px 7px rgba(228, 228, 228, 0.43);
}
.decimal {
  background-color: var(--grey-100);
}
.modulus {
  font-size: 18px;
}

[data-type="number"]:focus {
  animation-name: clickAnimationNumbers;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;   
}

@keyFrames clickAnimationNumbers {
  
  0.00% { background-color: #e4e7eb;   }
   14.29% { background-color: #e4e7eb; }
   28.57% { background-color: #e2e5e9; }
   42.86% { background-color: #d3d8de;  }
   57.14% { background-color: #d3d8de;   }
   71.43% { background-color: #e2e5e9; }
   85.71% { background-color: #e4e7eb; }
  100.00% { background-color: #e4e7eb; }
}


[data-type="operator"]:focus,
[data-type="expression"]:focus,
[data-type="clear"]:focus,
[data-type="clearAll"]:focus,
[data-type="back"]:focus {
    animation-name: clickAnimationNonNumbers;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;   
}

@keyFrames clickAnimationNonNumbers {
  
  0.00% { background-color: #d5d7da;   }
   14.29% { background-color: #ced0d3; }
   28.57% { background-color: #bbbbbb; }
   42.86% { background-color: #b1b2b3;  }
   57.14% { background-color: #b1b2b3;   }
   71.43% { background-color: #bbbbbb; }
   85.71% { background-color: #ced0d3; }
  100.00% { background-color: #d5d7da; }
}